/* Basic styles for the footer */
footer {
    background-color: #0e0d0f;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-logo p {
    margin-left: 10px;
  }
  
  .footer-ancor-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .footer-anchor {
    text-decoration: none;
    color: #333;
  }
  
  .footer-img-container {
    display: flex;
    gap: 10px;
  }
  
  .footer-img {
    width: 30px;
  }
  
  .footer-text {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  /* Responsive Styles */
  @media only screen and (max-width: 576px) {
    .footer-ancor-container {
      justify-content: center;
    }
    
    .footer-img-container {
      justify-content: center;
    }
  }
  